# Node modules
node_modules/

# Build output
/dist/css

# Logs
*.log

# Environment variables
.env

# MacOS system files
.DS_Store

# VS Code settings
.vscode/

# Tailwind CSS config
# tailwind.config.js
